.card {  
    background-color:beige;
    box-shadow: 5px 10px 20px goldenrod inset;
    padding: 10px;
  }
  

  .cardImage{
    height:350px;
    width:300px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:5px double lightsalmon;
    justify-content: center;
  
    
    
    
  }

  .container{
    font-family: cursive;
    
    

  }
 
  .image{
    display:flex;
    justify-content: center;
    align-items: centera;
  }